body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.zik {
    width: 150px;
    
}

.card {
    width: 400px;
    margin: 0 auto;
    border: 1px dotted blue;
    padding: 20px; /* Added padding for better spacing */
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8
    color: #2b2839;
    border-bottom: 6px solid;

}

.border-blue{
    border: 1px dotted-blue;
}

    

